<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.project.comment.CommentMapper">
	
	<insert id = "insert" parameterType="kr.co.project.comment.CommentVO">
		INSERT INTO comment (
			content, member_no, board_no, regdate, tablename
			) VALUES (
				#{content}, #{member_no}, #{board_no}, NOW(), #{tablename}
			)
	</insert>
									<!-- board_no컬럼명 #{board_no} 파라미트안 필드명 -->							<!-- int -->
	<select id="count" parameterType="kr.co.project.comment.CommentVO" resultType="java.lang.Integer">
		SELECT COUNT(*) FROM comment
		WHERE board_no = #{board_no} AND tablename = #{tablename}
	</select>
	
	<select id="list" parameterType="kr.co.project.comment.CommentVO" resultType="kr.co.project.comment.CommentVO">
		SELECT * ,
			(SELECT name FROM member WHERE no=comment.member_no) AS member_name
		FROM comment
		WHERE board_no = #{board_no} AND tablename = #{tablename}
		ORDER BY regdate DESC
		LIMIT ${startIdx}, ${pageRow}
	</select>
		
	<delete id="delete" parameterType="int">
		DELETE FROM comment WHERE no = #{no}
	</delete>
</mapper>