<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.project.member.MemberMapper">
	
	<insert id="insert" parameterType="kr.co.project.member.MemberVO">
		INSERT INTO member(
			email, pwd, name, gender, birthday, hp, zipcode, addr1, addr2, regdate
		) VALUES (
			#{email}, md5(#{pwd}), #{name}, #{gender}, #{birthday}, #{hp}, #{zipcode}, #{addr1}, #{addr2}, now()
		)	
	</insert>		
											<!-- java.lang.String (alias)-->						
	<select id="emailDupCheck" parameterType="string" resultType="int">
		SELECT count(*) FROM member WHERE email = #{email}
	</select>
	
	<!-- 조회 login 세션에 저장해서 사용함 / count로하면 또 select해야됨 --><!-- $사용하면안됨!-> #  -->
	<select id="loginCheck" parameterType="kr.co.project.member.MemberVO" resultType="kr.co.project.member.MemberVO">
		SELECT * FROM member WHERE email = #{email} AND pwd = md5(#{pwd})
	</select>
											
	<select id="findEmail" parameterType="kr.co.project.member.MemberVO" resultType="kr.co.project.member.MemberVO">
		SELECT * FROM member WHERE name=#{name} AND hp=#{hp}
	</select>	
	
	<select id="findPwd" parameterType="kr.co.project.member.MemberVO" resultType="kr.co.project.member.MemberVO">
		SELECT * FROM member WHERE name=#{name} AND hp=#{hp} AND email = #{email}
	</select>
	
	<update id="updateTempPwd" parameterType="kr.co.project.member.MemberVO"> 	
		UPDATE member SET pwd = md5(#{pwd}) WHERE name=#{name} AND hp=#{hp} AND email = #{email}
	</update>
</mapper>